<section id="skills" class="skills-section">
    <h2 class="title">{{ 'SKILLS.TITLE' | translate }}</h2>
  <div class="content-wrapper" >
    <div class="skill-box">
      <h3 class="skill-box__title">{{ 'SKILLS.SET_TITLE' | translate }}</h3>
      <p class="skill-box__description">
        {{ 'SKILLS.DESCRIPTION' | translate }} 
      </p>
      <div class="skill-box__extra">
        <p>{{ 'SKILLS.NEED_SKILL' | translate }} <span>{{ 'SKILLS.NEED_ANOTHER' | translate }}</span></p>
        <p class="skill-box__extra_descript">{{ 'SKILLS.CONTACT' | translate }}</p>
        <button class="btn-lets-talk" (click)="scrollToSection('contact')">
          <span class="btn-text">{{ 'SKILLS.LETS_TALK' | translate }}</span>
        </button>
      </div>
    </div>
   
    <div class="skills-grid"> 
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=HTML.svg" alt="HTML icon" class="skill-icon">
        <span>HTML</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=CSS.svg" alt="CSS icon" class="skill-icon">
        <span>CSS</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=JavaScript.svg" alt="JavaScript icon" class="skill-icon">
        <span>JavaScript</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=Material Design.svg" alt="Material Design icon" class="skill-icon">
        <span>Material Design</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=TypeScript.svg" alt="TypeScript icon" class="skill-icon">
        <span>TypeScript</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=Angular.svg" alt="Angular icon" class="skill-icon">
        <span>Angular</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=Firebase.svg" alt="Firebase icon" class="skill-icon">
        <span>Firebase</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=Git.svg" alt="Git icon" class="skill-icon">
        <span>Git</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=Rest-Api.svg" alt="Rest API icon" class="skill-icon">
        <span>Rest API</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=Scrum.svg" alt="SCRUM icon" class="skill-icon">
        <span>SCRUM</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Property 1=GrowthMindset.svg" alt="Growth Mindset icon" class="skill-icon">
        <span>Growth Mindset</span>
        <div class="interest-popup">
            <img src="./../../../assets/icons/Group 18.png" alt="Learning interests">
        </div>
      </div>
    </div>
  </div>  
   </section>
