<section id="contact" class="contact-me-section">
    <div class="content-wrapper">
      <div class="text-column">
        <h3 class="subtitle">{{ 'CONTACT.TITLE' | translate }}</h3>
        <h2 class="title">{{ 'CONTACT.SUBTITLE' | translate }}</h2>
        
        <div class="intro-text">
          <p class="problem-text">{{ 'CONTACT.PROBLEM' | translate }}</p>
          <p class="contact-description">{{ 'CONTACT.DESCRIPTION' | translate }}</p>
          <p class="developer-text">{{ 'CONTACT.NEED_DEV' | translate }}<span class="talk-link">{{ 'CONTACT.LETS_TALK' | translate }}</span></p>
        </div>
      </div>
  
      <div class="form-column">
        <div class="input-line"></div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-content">
          <div class="form-group">
            <label>{{ 'CONTACT.FORM.NAME' | translate }}</label>
            <input type="text" formControlName="name" placeholder="{{ 'CONTACT.FORM.NAME_PLACEHOLDER' | translate }}">
            <div class="error-message" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']">
                {{ 'CONTACT.FORM.NAME_ERROR' | translate }}
            </div>
          </div>
  
          <div class="form-group">
            <label>{{ 'CONTACT.FORM.EMAIL' | translate }}</label>
            <input type="email" formControlName="email" placeholder="{{ 'CONTACT.FORM.EMAIL_PLACEHOLDER' | translate }}">
            <div class="error-message" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']">
                {{ 'CONTACT.FORM.EMAIL_ERROR' | translate }}
            </div>
            <div class="error-message" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']">
                {{ 'CONTACT.FORM.EMAIL_INVALID' | translate }}
            </div>
          </div>
  
          <div class="form-group">
            <label>{{ 'CONTACT.FORM.MESSAGE' | translate }}</label>
            <textarea formControlName="message" placeholder="{{ 'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate }}"></textarea>
            <div class="error-message" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.errors?.['required']">
                {{ 'CONTACT.FORM.MESSAGE_ERROR' | translate }}
            </div>
          </div>
  
          <div class="privacy-policy">
            <label class="checkbox-container">
              <input type="checkbox" formControlName="privacyPolicy">
              <span class="checkmark"></span>
              {{ 'CONTACT.FORM.PRIVACY' | translate }}<a routerLink="/impressum" class="policy-link">{{ 'CONTACT.FORM.PRIVACY_SECOND' | translate }}</a>{{ 'CONTACT.FORM.PRIVACY_THIRD' | translate }}
            </label>
            <div class="error-message" *ngIf="showPrivacyError">
                {{ 'CONTACT.FORM.PRIVACY_ERROR' | translate }}
            </div>
          </div>
  
          <div class="submit-btn-wrapper">
            <button type="submit" class="submit-btn">
              <span class="button-text">{{ 'CONTACT.FORM.SUBMIT' | translate }}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="success-modal" *ngIf="showSuccessModal">
        <div class="modal-content">
          <h3>{{ 'CONTACT.SUCCESS.TITLE' | translate }}</h3>
          <p>{{ 'CONTACT.SUCCESS.MESSAGE' | translate }}</p>
          <button class="ok-btn" (click)="closeSuccessModal()">
            {{ 'CONTACT.SUCCESS.BUTTON' | translate }}
          </button>
        </div>
    </div>
</section>