<header class="privacy-header">
    <div class="header-content">
      <div class="left-section">
        <a routerLink="/" class="logo">
          <img src="./../../assets/logos/mg-logo -main.png" alt="Logo"> 
        </a>
      </div>
  
      <div class="right-section">
        <div class="language-switch">
          <button class="switch-btn">
            <span class="lang-btn" 
              [class.active]="currentLang === 'en'"
              (click)="switchLanguage('en')">EN</span>
            <span class="lang-btn" 
              [class.active]="currentLang === 'de'"
              (click)="switchLanguage('de')">DE</span>
          </button>
        </div>
  
        <button class="back-btn" routerLink="/">
          <i class="fas fa-arrow-left"></i>
          {{ 'Back to Home' }}
        </button>
      </div>
    </div>
</header>

<section id="impressum" class="privacy-section">
    <div class="content-wrapper">
      <h1>{{ 'PRIVACY.TITLE' | translate }}</h1>
      
      <div class="privacy-content">
        <h2>{{ 'PRIVACY.CONTACT_INFO' | translate }}</h2>
        <div class="contact-details">
          <p>Marzieh Ghasedian</p>
          <p>Magdeburg, Germany</p>
          <p>Email: marzighased&#64;gmail.com</p>
        </div>

        <h2>{{ 'PRIVACY.DATA_PROTECTION' | translate }}</h2>
        <div class="section">
          <h3>{{ 'PRIVACY.DATA_COLLECTION.TITLE' | translate }}</h3>
          <p>{{ 'PRIVACY.DATA_COLLECTION.TEXT' | translate }}</p>
        </div>

        <div class="section">
          <h3>{{ 'PRIVACY.COOKIES.TITLE' | translate }}</h3>
          <p>{{ 'PRIVACY.COOKIES.TEXT' | translate }}</p>
        </div>

        <div class="section">
          <h3>{{ 'PRIVACY.RIGHTS.TITLE' | translate }}</h3>
          <p>{{ 'PRIVACY.RIGHTS.TEXT' | translate }}</p>
        </div>
      </div>
    </div>
</section>