<section id="about" class="about-me-container">
    <div class="content-layout">
      <div class="image-side">
        <div class="image-wrapper">
          <div class="image-container">
            <img src="./../../../assets/images/myphoto.jpg" alt="Profile Image">
          </div>
          <div class="decorative-lines"></div>
        </div>
      </div>
  
      <div class="text-side">
        <div class="section-title">
          <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
        </div>
        
        <div class="about-content">
          <h3>{{ 'ABOUT.SUBTITLE' | translate }}</h3>
          <p class="description">{{ 'ABOUT.DESCRIPTION' | translate }}</p>
          
          <div class="features">
            <div class="feature-item">
              <img src="./../../../assets/icons/location.svg" alt="location icon" class="feature-icon">
              <p>{{ 'ABOUT.LOCATION' | translate }}</p>
            </div>
            
            <div class="feature-item">
              <img src="./../../../assets/icons/head.svg" alt="brain icon" class="feature-icon">
              <p>{{ 'ABOUT.MINDSET' | translate }}</p>
            </div>
            
            <div class="feature-item">
              <img src="./../../../assets/icons/tik.svg" alt="code icon" class="feature-icon">
              <p>{{ 'ABOUT.APPROACH' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>