<section class="about-me-container">
    <div class="content-layout">
      <div class="image-side">
        <div class="image-wrapper">
          <div class="image-container">
            <img src="./../../../assets/images/myphoto.jpg" alt="Profile Image">
          </div>
          <div class="decorative-lines"></div>
        </div>
      </div>
  
      <div class="text-side">
        <div class="section-title">
          <h2>Who I Am</h2>
        </div>
        
        <div class="about-content">
          <h3>About me</h3>
          <p class="description">
            Hi, I'm a german speaking Frontend Developer based in Magdeburg. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.
          </p>
          
          <div class="features">
            <div class="feature-item">
              <img src="./../../../assets/icons/location.svg" alt="location icon" class="feature-icon">
              <p>Flexible in terms of working environments, I can work effectively both on-site in Magdeburg and remotely.</p>
            </div>
            
            <div class="feature-item">
              <img src="./../../../assets/icons/head.svg" alt="brain icon" class="feature-icon">
              <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</p>
            </div>
            
            <div class="feature-item">
              <img src="./../../../assets/icons/tik.svg" alt="code icon" class="feature-icon">
              <p>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>