@import './styles/styles.global.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #1c1c1c 50%, #08463B);
    background-attachment: fixed;
  }

  html, body {
    overflow-x: hidden;
    width: 100%;
  }
  
  
  @font-face {
    font-family: "Fira Code";
    src: url('/assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Fira Code";
    src: url('/assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Karla";
    src: url('/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Karla";
    src: url('/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
  }

